.sq-mt0 {margin-top: 0!important;}
.sq-mt1 {margin-top: 10px!important;}
.sq-mt2 {margin-top: 20px!important;}
.sq-mt3 {margin-top: 30px!important;}

.sq-mt1 {margin-bottom: 0!important;}
.sq-mt2 {margin-bottom: 10px!important;}
.sq-mt3 {margin-bottom: 20px!important;}
.sq-mt4 {margin-bottom: 30px!important;}

.sq-mt1 {margin-left: 0!important;}
.sq-mt2 {margin-left: 10px!important;}
.sq-mt3 {margin-left: 20px!important;}
.sq-mt4 {margin-left: 30px!important;}

.sq-mt1 {margin-right: 0!important;}
.sq-mt2 {margin-right: 10px!important;}
.sq-mt3 {margin-right: 20px!important;}
.sq-mt4 {margin-right: 30px!important;}